

.hero-header {
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: 20rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    color:aliceblue;
    animation: hero-animation 1.5s ease-in-out infinite alternate;
}

#home {
    /* background-color: rgba(48, 77, 109, 0.4); */
    height: 100vh;
}

.hero-dis {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 22rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--primary);
    text-shadow: 4px 4px 8px var(--secondary);
    animation: hero-animation 1.5s ease-in-out infinite alternate;
}

@keyframes hero-animation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.glitch {
    position: relative;
    color: white;
    font-size: 5rem;
    animation: glitch-animation 1s infinite;
}
@keyframes glitch-animation {
    0% {
        text-shadow: 2px 0 red, -2px 0 cyan;
    }
    20% {
        text-shadow: -2px 0 red, 2px 0 cyan;
    }
    40% {
        text-shadow: 2px 0 red, -2px 0 cyan;
    }
    60% {
        text-shadow: -2px 0 red, 2px 0 cyan;
    }
    80% {
        text-shadow: 2px 0 red, -2px 0 cyan;
    }
    100% {
        text-shadow: -2px 0 red, 2px 0 cyan;
    }
}

