
.nav {
    display: flex;
    justify-content: space-between;
     padding: 15px 200px;
     background-color: #0a0a0a;
     align-items: center;
     border-bottom: 1px solid rgba(0, 255, 255, 0.2);
     position: sticky;
     top:0;
     z-index: 9999;
}

ul {
    list-style: none;
    
    
}

li
{
    display: inline-block;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 600;
    padding: 8px;
}

a:hover {
    background-color: aliceblue;
    border-radius: 8px;
    color: #333;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}