#skills {
  /* background: #282c34; */
    min-height: 100vh;
    padding-top: 150px;
}


#skills h1 {
  color: var(--primary);
  text-shadow: var(--secondary) 0px 2px 8px;
  text-align: center;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bold;
}

.skills-list, .skills-list2 {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  padding-top: 50px;
}

.skills-list li, .skills-list2 li {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 120px;
  color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(0, 255, 255, 0.1);
  border: 1px solid rgba(0, 255, 255, 0.336);
  transition: all 0.3s ease;
}


.skills-list li:hover, .skills-list2 li:hover {
  background: rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}



@media (max-width: 768px) {



  #skills {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .skills-list li, .skills-list2 li {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
  }
}
