
.nav {
    display: flex;
    justify-content: space-between;
     padding: 15px 200px;
     background-color: #0a0a0a;
     align-items: center;
     border-bottom: 1px solid rgba(0, 255, 255, 0.2);
     position: sticky;
     top:0;
     z-index: 9999;
}

ul {
    list-style: none;
    
    
}

li
{
    display: inline-block;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 600;
    padding: 8px;
}

a:hover {
    background-color: aliceblue;
    border-radius: 8px;
    color: #333;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

/* --- Menu button hidden by default --- */
.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* --- Responsive adjustments --- */



@media (max-width: 768px) {
  .nav {
    padding: 15px 30px; 
  }

  #res-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #0a0a0a;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 255, 255, 0.2);
  }

  #res-nav.active {
    display: flex;
  }

  li {
    display: block;
    margin: 10px 0;
  }

  .menu-btn {
    display: block;
  }
}
